body {
    font-family: Arial, sans-serif;
    background: #fff;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* Untuk menyatukan elemen secara horizontal */
    margin-top: 20px;
}

.text {
    text-align: center;
    margin-bottom: 2px;
}
.table-title {
    color: #363333;
    font-size:17px;
    margin-bottom: 20px;
    text-align: center; /* Menengahkan teks secara horizontal */
}
.table-container {
    width: 100%;
    margin: 5px auto 5px; /* Jarak antara judul dan tabel */
    overflow-x: auto; 
}

.table {
    margin-left: 0px;
    border-collapse: collapse;
    background-color: #333; /* Warna hitam yang lebih gelap */
    color: #fff; /* Warna teks putih */
    width: 950px;
    margin-top: 5px;
}

th, td {
    color:#f5f1f1;
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
}

th {
    background-color:#8d2c34; /* Merah */
    color: #fff;
}

.alert-danger {
    margin-top: 20px;
    background-color: #990000; /* Merah yang lebih gelap */
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.alert-danger.show {
    opacity: 1;
}
.logo-edit,
.logo-delete {
  width: 20px; /* Sesuaikan ukuran lebar */
  height: 20px; /* Sesuaikan ukuran tinggi */
  display: inline-block; /* Menjadikan gambar tampil secara berdampingan */
  vertical-align: middle; /* Menengahkan gambar */
}

.btn.btn-sm.btn-danger {
  padding: 5px; 
}
.btn-tambah {
    margin-top: 5px; 
    margin-bottom: 10px;
    padding: 5px 5px;
    background-color: #ff3f3f; /* Merah */
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: block; /* Mengubah tombol tambah menjadi elemen block agar menempati baris terpisah */
    width: fit-content; /* Mengatur lebar tombol sesuai konten di dalamnya */
    margin: 0 auto;
}

.btn-tambah:hover {
    background-color: #a30000; /* Merah yang lebih gelap saat hover */
    cursor: pointer;
}
.submenu {
    list-style: none;
    padding: 0;
    display: none;
    background-color: #240101; /* Warna latar belakang submenu */
    border: 1px solid #240101; /* Garis batas submenu */
  }
  
  .submenu li {
    padding: 8px 12px;
  }
  
  .submenu li a {
    text-decoration: none;
    color: #fffdfd; /* Warna teks submenu */
    display: block;
  }
  
  .submenu li a:hover {
    background-color: #fdc8c87e; /* Warna latar belakang saat hover */
  }
